<html layout:decorate="/template.html">
<head>
<title>Tickets</title>
</head>


<body>


	<div layout:fragment="content">
		<h1>List ticket</h1>
		<a th:href="@{/ticket/new}">New ticket</a>
		<div>Page: 
		<a th:href="@{/ticket/search?currentPage=0&size=10}">1</a> 
		<a th:href="@{/ticket/search?currentPage=1&size=10}">2</a>
		<a th:href="@{/ticket/search?currentPage=2&size=10}">3</a>
		</div>
		
		<div> 
		<form method="get" th:action="@{/ticket/search}" 
		th:object="${searchDTO}"
		class="my-3">
		<input th:field="*{ticketId}" type="number" placeholder="Ticket ID">
		<input th:field="*{start}" type="text" placeholder="Start - DD/MM/YYYY">
		<input th:field="*{end}" type="text" placeholder="End - DD/MM/YYYY">
		<input th:field="*{keyword}" type="text" placeholder="Number">
		<select th:field="*{departmentId}">
		<option value="">Choose</option>
		<option th:each="d : ${departmentList}" 
		th:value="${d.id}" th:text="${d.name}">
		</select>
		<button type="submit" class="btn btn-primary">Search</button>
		</form>
		</div>
		
		<table class="table table-bordered">
		<thead class="table-light">
				<td>ID</td>
				<td>Department ID</td>
				<td>Department name</td>
				<td>Client number</td>
				<td>Client Complain</td>
				<td>Created At</td>
				<td>Answer</td>
				<td>Processed?</td>
				<td>Processed at</td>
				<td>Action</td>
		</thead>
		
		<tr th:each="t: ${ticketList}">
			<td th:text="${t.id}">
			<td th:text="${t.department.id}">
			<td th:text="${t.department.name}">
			<td th:text="${t.clientPhone}">
			<td th:text="${t.clientComplaint}">
			<td th:text=${#dates.format(t.createdAt,'dd/MM/yyyy')}>
			<td th:text="${t.answer}">
			<td th:text="${t.status}">
			<td th:text=${#dates.format(t.processDate,'dd/MM/yyyy')}>
		<td>
			<a th:href="@{'/ticket/delete?id=' + ${t.id} }">Delete</a>
			<a th:href="@{'/ticket/answer?id=' + ${t.id} }">Answer</a>
		</td>
		</tr>
		</table>
		
	</div>
	
	</body>
	
</html>